.DS_Store
/barfbag.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/barfbag.xcodeproj/project.xcworkspace/xcuserdata/jollyjinx.xcuserdatad/UserInterfaceState.xcuserstate
/barfbag.xcodeproj/xcuserdata/jollyjinx.xcuserdatad/xcschemes/barfbag.xcscheme
/barfbag.xcodeproj/xcuserdata/jollyjinx.xcuserdatad/xcschemes/xcschememanagement.plist
/barfbag.xcodeproj/project.xcworkspace/xcuserdata/jollyjinx.xcuserdatad/WorkspaceSettings.xcsettings
/barfbag.xcodeproj/project.xcworkspace/
/barfbag.xcodeproj/xcuserdata/helge.xcuserdatad/
/_private/