<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>motherships</key>
	<dict>
		<key>configKey</key>
		<string>v1.1</string>
		<key>configDateReleased</key>
		<date>2012-12-09T23:00:00Z</date>
		<key>configMasterUrl</key>
		<string>http://29c3.postcapitalism.org/config_remote.plist</string>
		<key>mothership</key>
		<dict>
			<key>port_de</key>
			<dict>
				<key>fahrplan</key>
				<string>http://events.ccc.de/congress/2012/Fahrplan/schedule.de.xml</string>
				<key>fahrplan_images</key>
				<string>http://events.ccc.de/congress/2012/Fahrplan/images</string>
				<key>workshops</key>
				<string>https://events.ccc.de/congress/2012/wiki/Special:Ask/-5B-5BCategory:ScheduleEntry-5D-5D/-3FDescription/-3FStart-20time/-3FEnd-20time/-3FEntry-20location/-3FPerson-20organizing/-3FOrga-20contact/-3FDuration/mainlabel%3D/offset%3D20/limit%3D500/searchlabel%3D/format%3Djson</string>
				<key>assemblies</key>
				<string>https://events.ccc.de/congress/2012/wiki/Special:Ask/-5B-5BCategory:Assembly-5D-5D/-3F%3Duri-23/-3FDescription/-3FLecture-20seats/-3FName-20of-20location/-3FWeblink/-3FOrga-20contact/-3FLocation-20opened-20at/-3FPlanned-20workshops/-3FPlanning-20notes/-3FBrings-20stuff/-3FPerson-20organizing/mainlabel%3Duri/offset%3D20/limit%3D500/searchlabel%3D/format%3Djson</string>
				<key>livestreams</key>
				<string>http://29c3.postcapitalism.org/data/streams_de_remote.html</string>
				<key>wikibaseurl</key>
				<string>https://events.ccc.de/congress/2012/wiki/</string>
			</dict>
			<key>port_en</key>
			<dict>
				<key>fahrplan</key>
				<string>http://events.ccc.de/congress/2012/Fahrplan/schedule.en.xml</string>
				<key>fahrplan_images</key>
				<string>http://events.ccc.de/congress/2012/Fahrplan/images</string>
				<key>workshops</key>
				<string>https://events.ccc.de/congress/2012/wiki/Special:Ask/-5B-5BCategory:ScheduleEntry-5D-5D/-3FDescription/-3FStart-20time/-3FEnd-20time/-3FEntry-20location/-3FPerson-20organizing/-3FOrga-20contact/-3FDuration/mainlabel%3D/offset%3D20/limit%3D500/searchlabel%3D/format%3Djson</string>
				<key>assemblies</key>
				<string>https://events.ccc.de/congress/2012/wiki/Special:Ask/-5B-5BCategory:Assembly-5D-5D/-3F%3Duri-23/-3FDescription/-3FLecture-20seats/-3FName-20of-20location/-3FWeblink/-3FOrga-20contact/-3FLocation-20opened-20at/-3FPlanned-20workshops/-3FPlanning-20notes/-3FBrings-20stuff/-3FPerson-20organizing/mainlabel%3Duri/offset%3D20/limit%3D500/searchlabel%3D/format%3Djson</string>
				<key>livestreams</key>
				<string>http://29c3.postcapitalism.org/data/streams_en_remote.html</string>
				<key>wikibaseurl</key>
				<string>https://events.ccc.de/congress/2012/wiki/</string>
			</dict>
		</dict>
		<key>mothership_relay</key>
		<dict>
			<key>relay_base_url</key>
			<string>http://29c3.postcapitalism.org/data</string>
			<key>port_de</key>
			<dict>
				<key>fahrplan</key>
				<string>schedule.de.xml</string>
				<key>fahrplan_images</key>
				<string>images</string>
				<key>workshops</key>
				<string>workshops.json</string>
				<key>assemblies</key>
				<string>assemblies.json</string>
				<key>livestreams</key>
				<string>streams_de_remote.html</string>
				<key>cache_status</key>
				<string>status.json</string>
			</dict>
			<key>port_en</key>
			<dict>
				<key>fahrplan</key>
				<string>schedule.en.xml</string>
				<key>fahrplan_images</key>
				<string>images</string>
				<key>workshops</key>
				<string>workshops.json</string>
				<key>assemblies</key>
				<string>assemblies.json</string>
				<key>livestreams</key>
				<string>streams_en_remote.html</string>
				<key>cache_status</key>
				<string>status.json</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
